.mn {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
}

body {
  background-color: blueviolet;
  gap: 50px;
}

.black {
  background-color: rgb(182, 177, 177);
  height: 100%;
  width: 100%;
}

.yellow {
  background-color: yellow;
  height: 100%;
  width: 100%;
}

.btn {
  margin-top: 10px;
  background-color: pink;
  height: 100%;
  width: 100%;
  border-radius: 15%;
}

.btn:hover {
  background-color: rgb(240, 100, 124);
}
